body {
    background-color: #3E2723; /* Very Dark Brown */
    color: #F5F5F5; /* White Smoke */
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 150px;
}

h1 {
    color: #F5F5F5; /* White Smoke */
}

a {
    color: #F5F5F5; /* White Smoke */
}
p{
    margin-right: 100px;
    margin-left: 100px;
}